{% extends "base.html" %}

{% block titulo %} Sobre Nosotros {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu/nosotros.css') }}">
{% endblock %}

{% block main %}
<div class="about_us">
  <h1 class="about_us_titulo">Integrantes del Grupo</h1>
  <table class="tabla_nombres">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Padrón</th>
      </tr>
    </thead>
    <tbody>
      {% for integrante in integrantes %}
      <tr>
        <td>{{ integrante.nombre }}</td>
        <td>{{ integrante.apellido }}</td>
        <td>{{ integrante.padron }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

